<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body})}">
<body>

<div class="container-fluid">
    <a th:href="@{/admin/addUser}" style="margin: 20px 0" class="btn btn-primary">Add User</a>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">num</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Birth date</th>
            <th scope="col">Delete</th>
            <th scope="col">Update</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="user, iStat : ${users}">
            <th scope="row" th:text="${iStat.index + 1}">1</th>
            <td th:text="${user.name}">Larry</td>
            <td th:text="${user.email}">larry@gmail.com</td>
            <td th:text="${user.roleName}">admin</td>
            <td th:text="${user.birthDate}">2000.10.10</td>

            <td><a href="" th:href="@{/admin/user/delete/{id}(id=${user.id})}" class="btn btn-danger">Delete</a></td>
            <td><a href="" th:href="@{/admin/user/update/{id}(id=${user.id})}" class="btn btn-warning">Update</a></td>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>